.dialog-style[popup="open"]{
    background-color: $medium-color;
    border-radius: 9px 0 0;
    border: 0;
    bottom: 0;
    color: #0F2C59;
    display: flex;
    flex-direction: column;
    outline: 0;
    padding: 30px;
    position: fixed;
    right: 0;

    animation: dialogduration 4s;
    animation-fill-mode: forwards ;

    @keyframes dialogduration {
        0% { opacity: 1; }
        70% { opacity: 1; }
        90% { opacity: 0; }
        100% { opacity: 0; display: none;}
    }

    p { padding: 1rem 0; }

}

.dialog-style[popup="close"] {
    display: none;
}