.container {
    max-width: $website-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}

// Buttons
%btn-shared {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 9px;
}

.btn {
    &-main {
        @extend %btn-shared;
        color: $light-color;
        background-color: $main-color;
        border: 3px solid $main-color;

        &:hover {
            border: 3px solid $main-color;
            background-color: transparent;
        }
    }
    
    &-light {
        @extend %btn-shared;
        color: $dark-color;
        background-color: $light-color;
        border: 3px solid $light-color;
        
        &:hover {
            border: 3px solid $light-color;
            background-color: transparent;
        }
    }
    
    &-dark {
        @extend %btn-shared;
        color: $light-color;
        background-color: $dark-color;
        border: 3px solid $dark-color;
        
        &:hover {
            border: 3px solid $dark-color;
            background-color: transparent;
            color: $dark-color;
        }
    }
}

// Backgrounds
.bg {
    &-main {
        background-color: $main-color;
        color: set-text-color($main-color);
    }
    &-dark {
        background-color: $dark-color;
        color: set-text-color($dark-color);
    }
    &-light {
        background-color: $light-color;
        color: set-text-color($light-color);
    }
    &-medium {
        background-color: $medium-color;
        color: set-text-color($medium-color);
    }
    &-contrast {
        background-color: $contrast-color;
        color: set-text-color($contrast-color);
    }
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.tech-li {
    background-color: #91a6b9;
    border-radius: 12px;
    color: $light-color;
    cursor: default;
    display: inline;
    margin-right: 0.3rem;
    padding: 0.5rem 1rem;
}

.text-center {
    text-align: center;
}

// Padding
.py {
    &-1 {
        padding: 1rem 0;
    }
    &-2 {
        padding: 2rem 0;
    }
    &-3 {
        padding: 3rem 0;
    }
    &-4 {
        padding: 4rem 0;
    }
}

.py-4-ex {
    padding: 4rem 0;
}
.py-3-btt {
    padding: 0 0 2rem;
}

// Margin
.my {
    &-1 {
        margin: 1rem 0;
    }
    &-2 {
        margin: 2rem 0;
    }
    &-3 {
        margin: 3rem 0;
    }
    &-4 {
        margin: 4rem 0;
    }
}

.section-title {
    font-size: 2rem;
    display: block;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

.bottom-line {
    height: 2px;
    width: 3rem;
    background: $main-color;
    display: block;
    margin: 0 auto 1rem auto;
}

.hr-line {
    height: 2px;
    max-width: 50rem;
    background: $main-color;
    display: block;
    margin: 0 auto 1rem auto;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
    width: 8px;

    &-track {
        background: $light-color;
    }

    &-thumb {
        background: $main-color;

        &:hover {
            background: darken($main-color, 7%);
        }
    }
  }